@font-face {
    font-family:"matrix.ttf" ;
    src: url(/asset/font/matrix.ttf);
}
*{
    box-sizing: border-box;
    outline: none;
}
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-size: 100%;
}
h1{
    padding: 10px 0px;
    color: greenyellow;
    margin: 0;
    font-family:"matrix.ttf" ;
}
.contenu{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    margin: auto;
    background: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
textarea{
    width: 90%;
    min-height: 500px;
    color: green;
    background-color: black;
    border: solid 2px greenyellow;
    font-size: 22px;
}
.leBtn{

    align-items: center;
    text-align: center;
}
button{
    width: 200px;
    height: 50px;
    background-color: black;
    color: greenyellow;
    border: solid 2px greenyellow;
    font-family:"matrix.ttf" ;
    font-size: 20px;
}
.notif-error {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    font-size: 20px;
    color: red;
    background: pink;
    border: 1px solid red;
}

.notif-success {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    font-size: 20px;
    color: green;
    background: lightgreen;
    border:1px solid green;
}

.d-none {
    display: none;
}
.compteur{
    color: greenyellow;
}


